<html>
    <head><title>LayoutP5-3</title>
    <style>
    #a,#b,#c{
        height: 100px;
        width: 20%;
        display: inline-block;
        vertical-align: top;
color: white;
    }
        #a{
            
            background-color: blue;
            color: white;

        }
#b{
    
    background-color: green;
    
}

#c{
    
    background-color: red;

}

#B1{
    background-color: green;
    display: ;
}

#I1 {
    display: ;

}










    </style>
    </head>







    <body>
       
<div id="A"><h3 style="margin-top:45px;">Hello</h3></div>
<div id="B"></div>
<div id="C"></div>

<div id="B1I1"><button id="B1">B1</button><Input id="I1">I1</Input></div>












    </body> 
</html>